
#navBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-family: Kaneda Gothic-medium;
    font-size: 20px;
    text-align: center;
  background-color: #FFE100;
  }

  
  
  #weldasLogo {
    width: 118px;
    height: 28px;
cursor: pointer;    
display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  #hamburgerMenu
  {
width: 40px;
height: 40px;
grid-template-columns: repeat(5, 1fr);
  }

#accountIcon
{
  width: 40px;
  height: 40px;

}

#winkelwagenIcon
{
  width: 40px;
  height: 40px;

}

  #navBar li {
    margin: 10px;
    text-align: center;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    gap: 6rem;
  }

  
  
  #navBar li a {
    color: rgb(0, 0, 0);
    text-decoration: underline;
  }
  
  #navBar :hover {
    color: #8b8b8b;
  }
  
  ul {
    text-align: center;
  }