
#navBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-family: Kaneda Gothic-medium;
    font-size: 35px;
    text-align: center;
    z-index: 2;
  
  }
  
  
  #portfolio {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
  }
  
  #navBar li {
    margin: -8px;
    display: inline-block;
    margin-left: -59px;
    text-align: center;
  }
  
  #navBar li a {
    color: rgb(0, 0, 0);
    text-decoration: underline;
  }
  
  #navBar :hover {
    color: #8b8b8b;
  }
  
  ul {
    text-align: center;
  }