* {
    padding: 0%;
    margin: 0%;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #FFE100;
    color: #fff;
    padding: 10px;
    height: 100px;
}

#WeldasLogo {
    margin-left: 21%;
    width: 150px;
}

#menuicon {
    margin-left: 0%;
    width: 40px;
}

#winkelwagen {
    margin-left: 18px;
    width: 40px;
}

#account {
    margin-left: 5%;
    width: 40px;
}

.searchbar{
    display: flex;
    align-items: center;
    background-color: #0A264B;
    color: #fff;
    padding: 10px;
    height: 50px;
}

.textbox {
    background-color: #fff;
    border-radius: 15px;
    width: 380px;
    display: flex;
  }
  
   .textbox p {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 2.5;
  }

  #zoeken{
    color: black;
    font-family: 'cabin';
    margin-left: 20px;
  }

  #vergrootglas{
  margin-left: 250px;
  width: 30px;
  height: 30px;
  margin-top: 5px;
  }
  