* {
    padding: 0%;
    margin: 0%;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #FFE100;
    color: #fff;
    padding: 10px;
    height: 80px;
}

.navbar-logo {
    align-items: center;
}