body {

    height: 2000px
}

@font-face {

    font-family: cabin-regular;

    src: url('fonts/Cabin/Cabin-Regular.ttf');

}

@font-face {

    font-family: cabin-bold;

    src: url('fonts/Cabin/Cabin-Bold.ttf');

}

#navBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #FFE100;
}

#navBar nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}


#hamburgerMenu {
    margin-left: 1px;
    text-align: center;
    height: 30px;
    cursor: pointer;
}

#weldasLogo {
    margin-left: 84px;
    margin-right: 5px;
    text-align: center;
    height: 35px;
    cursor: pointer;
}

#accountIcon {
    margin-left: 30px;
    text-align: center;
    height: 35px;
    cursor: pointer;

}

#winkelwagenIcon {
    margin-left: 20px;
    text-align: center;
    height: 35px;
    cursor: pointer;
}

#navBar li a {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

#navBar li:hover a {
    color: #8b8b8b;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#header {
    background-color: #1E3A5F;
    color: white;
    padding: 10px;
    margin-top: 5.57rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

}

#zoekbalk {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 390px;
    margin: 0 auto;
}

#zoekbalk input[type="text"] {
    width: 100vh;
    padding: 8px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}

#vergrootglas {
    position: absolute;
    margin-left: 361px;
}

#terug {
    font-family: cabin-regular;
    margin: 8.45rem auto auto -0.5rem;
    color: black;
    background-color: #ffffff;
    border: none;
    color: black;
    padding: 13px 12px 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
}

#terugpijltje {
    height: 11px;
    margin-bottom: -0.0150rem;
    margin-right: 2px;
}

.lijn {
    margin-top: 1%;
    FONT-WEIGHT: 500;
    width: 100vw;
    height: 4px;
    left: 0px;
    top: 159px;
    background: rgba(217, 217, 217, 0.5);
    margin-left: -2vw;
}