body {
    height: 2335px;
}

@font-face {
    font-family: cabin-regular;
    src: url("fonts/Cabin/Cabin-Regular.ttf");
}

@font-face {
    font-family: cabin-bold;
    src: url("fonts/Cabin/Cabin-Bold.ttf");
}

@font-face {
    font-family: roboto-regular;
    src: url("fonts/Roboto/Roboto-Regular.ttf");
}

#navBar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: rgb(255, 225, 0);
    z-index: 2;
}

#navBar nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

#hamburgerMenu {
    margin-left: 25px;
    margin-right: -5px;
    text-align: center;
    height: 30px;
    cursor: pointer;
}

#weldasLogo {
    margin-left: 74px;
    margin-right: 5px;
    text-align: center;
    height: 35px;
    cursor: pointer;
}

#accountIcon {
    margin-left: 17px;
    margin-right: 6px;
    text-align: center;
    height: 35px;
    cursor: pointer;
}

#winkelwagenIcon {
    margin-left: 15px;
    margin-right: 23px;
    text-align: center;
    height: 35px;
    cursor: pointer;
}

#navBar li a {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

#navBar li:hover a {
    color: rgb(139, 139, 139);
}

.mainnav {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#zoeken {
    background-color: rgb(30, 58, 95);
    color: white;
    padding: 10px;
    margin-top: 5.57rem;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 2;
}

#zoekbalk {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 380px;
    margin: 0px auto;
}

#zoekbalk input[type="text"] {
    width: 100vh;
    padding: 8px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}

#vergrootglas {
    position: absolute;
    margin-left: 349px;
}

#terug {
    font-family: cabin-regular;
    margin: 7.45rem auto auto -0.5rem;
    background-color: rgb(255, 255, 255);
    border: none;
    color: black;
    padding: 13px 12px 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
}

#terugpijltje {
    height: 11px;
    margin-bottom: -0.015rem;
    margin-right: 2px;
}

#lijn {
    margin-top: 1%;
    font-weight: 500;
    width: 100vw;
    height: 4px;
    left: 0px;
    top: 159px;
    background: rgba(217, 217, 217, 0.5);
    margin-left: -2vw;
}

.paginatitel {
    font-family: cabin-regular;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    margin-top: 11px;
    padding: 0px 10px;
}

.slider-container {
    position: relative;
}

.handschoenen {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0px auto;
    padding-top: 14px;
    max-height: 236px;
    transition: transform 0.5s ease-in-out 0s;
}

.slide-vorige {
    transform: translateX(-100%);
}

.slide-volgende {
    transform: translateX(100%);
}

.vorige,
.volgende {
    position: absolute;
    top: 31%;
    font-size: 24px;
    color: rgb(51, 51, 51);
    z-index: 1;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.vorige {
    left: 27px;
    width: 44px;
    height: 60px;
    background-image: url("images/terugpijltje.png");
}

.volgende {
    right: 32px;
    width: 44px;
    height: 60px;
    background-image: url("images/volgendepijltje.png");
}

.small-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 29px;
    margin-top: 5%;
}

.small-images img {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5%;
}

#mini1 {
    width: 74px;
    height: 100%;
}

#mini2 {
    width: 109px;
    height: 100%;
}

#mini3 {
    width: 111px;
    height: 100%;
}

#lijn2 {
    margin-top: 5%;
    font-weight: 500;
    width: 100vw;
    height: 4px;
    left: 0px;
    top: 159px;
    background: rgba(217, 217, 217, 0.5);
    margin-left: -2vw;
}

.prijs {
    font-family: roboto-regular;
    font-size: 22px;
    margin-right: 47%;
    font-weight: bold;
    text-align: center;
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    margin-top: 11px;
    padding: 8px 9px;
}

.morgenbezorgdtotaal {
    font-family: roboto-regular;
    font-weight: bold;
    color: rgb(10, 38, 75);
    margin-top: -9.4%;
}

.checkdik {
    display: inline-block;
    vertical-align: middle;
    margin-left: 3.7%;
    width: 19px;
}

.morgenbezorgd {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    font-size: 14px;
}

.voordelentotaal {
    list-style-type: none;
    font-family: roboto-regular;
    margin: 0px;
    padding: 0px;
}

ul.voordelentotaal li span {
    font-size: 14px;
}

.checkdun {
    display: inline-block;
    vertical-align: middle;
    margin-left: 3.7%;
    width: 19px;
}

.blue {
    color: rgb(0, 159, 223);
    font-weight: bold;
}

.specificatiestotaal {
    font-family: roboto-regular;
    font-weight: bold;
    color: rgb(10, 38, 75);
    margin-top: 4.5%;
    margin-left: 3.7%;
}

.beneden {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    margin-top: 1%;
}

.specificaties {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    font-size: 19px;
}

.kenmerken {
    list-style-type: none;
    font-family: roboto-regular;
    font-size: 17px;
    margin-top: -1.5%;
    padding: 0px;
}

.min {
    display: inline-block;
    vertical-align: middle;
    margin-left: 3.7%;
    width: 19px;
}

#lijn3 {
    margin-top: 5%;
    font-weight: 500;
    width: 100vw;
    height: 4px;
    left: 0px;
    top: 159px;
    background: rgba(217, 217, 217, 0.5);
    margin-left: -2vw;
}

.vragenproduct {
    font-family: roboto-regular;
    font-size: 19px;
    font-weight: bold;
    margin-left: 3.7%;
}

.vragenproducttekst {
    font-family: roboto-regular;
    font-size: 15px;
    margin-left: 3.7%;
}

.klantenservice-button {
    background-color: rgb(10, 38, 75);
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    display: block;
    margin: 20px auto;
    padding: 20px 108px;
    border: none;
    border-radius: 10px;
    font-size: 21px;
}

.certificering {
    font-family: roboto-regular;
    font-size: 19px;
    font-weight: bold;
    margin-left: 3.7%;
}

.certificering-tekst {
    margin-left: 3.7%;
    font-family: cabin-regular;
    font-size: 15px;
    color: rgb(136, 136, 136);
    line-height: 0.3;
}

.image-container img {
    width: 50px;
    height: 50px;
    margin: 10px 10px 10px 3.7%;
}

.tips {
    font-family: roboto-regular;
    font-size: 19px;
    font-weight: bold;
    margin-left: 3.7%;
    margin-bottom: 5%;
}

.YouTube {
    display: block;
    margin: 0px auto;
    width: 368px;
    height: 206px;
}

#lijn4 {
    margin-top: 6%;
    font-weight: 500;
    width: 100vw;
    height: 4px;
    background: rgba(217, 217, 217, 0.5);
    margin-left: -2vw;
}

.categorieën {
    font-family: roboto-regular;
    font-size: 19px;
    font-weight: bold;
    margin-left: 3.7%;
    margin-bottom: -1%;
}

#scrollCategorieën {
    margin: 1.5rem 0px 0px;
    border: none;
    height: 200px;
    overflow-x: auto;
    display: flex;
}


#scrollCategorieën .tekst {
    min-width: 8.75rem;
    height: 10.625rem;
    margin: 0px 10px;
    text-align: center;
    font-family: cabin-regular;
    color: rgb(10, 38, 75);
    border: 0.1px solid rgb(176, 176, 176);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 4px;
    cursor: pointer;
}

#scrollCategorieën .imgCategorie {
    width: 8rem;
    height: 8rem;
    margin: 0.4688rem 0.4688rem 0rem;
}

.yellow-space {
    background-color: rgb(255, 225, 0);
    height: 361px;
    width: 100vw;
    margin-left: -2vw;
    border-top: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
    margin-top: 3%;
}

.yellow-space h1 {
    text-align: center;
    font-family: roboto-regular;
    font-size: 19px;
    font-weight: bold;
    position: relative;
    top: 20px;
}

.yellow-space h2 {
    text-align: center;
    font-family: roboto-regular;
    font-size: 19px;
    position: relative;
    top: 20px;
    text-decoration: underline 1px solid;
    font-weight: normal;
}

.yellow-space p {
    text-align: left;
    font-family: roboto-regular;
    font-size: 15px;
    position: relative;
    top: 32px;
    padding: 7px;
    font-weight: normal;
    margin-left: 26%;
}

.yellow-space address {
    text-align: left;
    font-family: roboto-regular;
    font-size: 15px;
    position: relative;
    top: 32px;
    padding: 7px;
    font-weight: normal;
    margin-left: 26%;
}

.fixed-white-bar {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 110px;
    background-color: white;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.2) 0px -5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yellow-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 217px;
    height: 57px;
    margin-left: -26%;
    background-color: rgb(255, 225, 0);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    padding: 0px 15px;
}

.yellow-button .cart-icon {
    width: 24px;
    margin-right: 10px;
}

.yellow-button span {
    display: flex;
    align-items: center;
}

.likeproduct {
    position: absolute;
    top: 25px;
    right: 46px;
    width: 56px;
    height: 58px;
}

@media only screen and (max-width: 991px) {
    #navBarDesktop {
        display: none;
    }
}

@media only screen and (min-width: 992px) {
    #navBar {
        display: none;
    }

    #zoeken {
        display: none;
    }

    #navBarDesktop {
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        background-color: rgb(255, 225, 0);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        height: 25px;
    }

    .logo-container img {
        height: 40px;
        margin-top: 2%;
    }

    form {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 317px;
        margin: auto 154px auto auto;
        height: 43px;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
    }

    input[type="text"] {
        border: none;
        outline: none;
        padding: 0px 20px;
        font-size: 12px;
        font-family: roboto-regular;
        flex: 1 1 0%;
    }

    button[type="submit"] {
        border: none;
        background-color: transparent;
        font-size: 20px;
        color: rgb(85, 85, 85);
        cursor: pointer;
    }

    .icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
        margin-right: 14px;
    }

    .icon-container img {
        height: 20px;
    }

    .icons-container {
        display: flex;
        align-items: center;
    }

    .icons-container img {
        height: 27px;
        margin-left: 20px;
        margin-top: 11%;
    }

    #subNavbar {
        position: fixed;
        left: 0px;
        font-family: roboto-regular;
        top: 65px;
        width: 100%;
        height: 50px;
        background-color: rgb(10, 38, 75);
        text-align: center;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    #subNavbar a {
        display: inline-block;
        padding: 15px 33px;
        text-decoration: none;
        color: rgb(255, 255, 255);
    }

    #subNavbar a:hover {
        text-decoration: underline 3px rgb(255, 255, 255);
        text-underline-offset: 17px;
    }

    .ruimtetussen {
        display: flex;
        justify-content: space-between;
        flex: 2 1 0%;
    }

    #terug {
        font-family: cabin-regular;
        margin: 92.45px auto auto -0.5rem;
        background-color: rgb(255, 255, 255);
        border: none;
        color: black;
        padding: 13px 12px 10px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        cursor: pointer;
    }

    #terugpijltje {
        height: 11px;
        margin-bottom: -0.015rem;
        margin-right: 2px;
    }

    #lijn {
        margin-top: 0.3%;
        font-weight: 500;
        width: 102vw;
        height: 4px;
        left: 0px;
        top: 159px;
        background: rgba(217, 217, 217, 0.5);
        /* margin-left: -2vw; */
    }
}