* {
    padding: 0%;
    margin: 0%;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #FFE100;
    color: #fff;
    padding: 10px;
    height: 100px;
}

#WeldasLogo {
    margin-left: 21%;
    width: 150px;
}

#menuicon {
    margin-left: 0%;
    width: 40px;
}

#winkelwagen {
    margin-left: 18px;
    width: 40px;
}

#account {
    margin-left: 5%;
    width: 40px;
}